name: bhanu
title: "Developer Blog"
author: "Bhanu Prakash"
description: "Yegor Bugayenko"
copyright: "(c) Bhanu Prakash, 2014"
encoding: utf-8
timezone: India/Chennai
markdown: kramdown
highlighter: pygments
redcarpet:
  extensions: ["no_intra_emphasis", "fenced_code_blocks", "autolink", "tables", "with_toc_data"]
permalink: :year/:month/:day/:title.html
paginate: 10
paginate_path: "p/:num"
excerpt_separator: <!--more-->

# gems:
#   - jekyll-sass
#   - jekyll-plantuml
#   - jekyll-press
gems:
- jekyll-mentions
- jemoji
- jekyll-redirect-from
- jekyll-sitemap
- jekyll-utf8

exclude: ['Gemfile', 'Gemfile.lock', 'README.md']

google_analytics: UA-57016542-3
disqus: bhanuonegithubio

# https://github.com/agelber/jekyll-rss
baseurl: /dev-blog
rss_post_limit: 15

# see https://github.com/noct/jekyll-sass
sass:
  style: compressed

exclude: ['id_rsa', 'id_rsa.enc', '.travis.yml', '.gitignore', '.gitattributes']

# see https://github.com/stereobooster/jekyll-press
# jekyll-press:
#   exclude: ['/rss.xml', '/rss-jcg.xml']

# see https://github.com/pattex/jekyll-tagging
# tag_page_layout: tag-index
# tag_page_dir: tag

# see https://github.com/kinnetica/jekyll-plugins
sitemap:
  file: "/sitemap.xml"
  exclude:
    - "/rss.xml"
    - "/rss-jcg.xml"
  include_posts:
    - "/index.html"
  change_frequency_name: "change_frequence"
  priority_name: "priority"
