name: dev-blog
title: "Developer Blog"
author: "Bhanu Prakash"
description: "Yegor Bugayenko"
copyright: "(c) Bhanu Prakash, 2014"
encoding: utf-8
timezone: India/Chennai
markdown: kramdown
highlighter: pygments

permalink: :year/:month/:day/:title.html


# gems:
#   - jekyll-sass
#   - jekyll-plantuml
#   - jekyll-press
gems:
  - jekyll-mentions
  - jemoji
  - jekyll-redirect-from
  - jekyll-sitemap



exclude: ['Gemfile', 'Gemfile.lock', 'README.md']

google_analytics: UA-57016542-3
disqus: bhanuonegithubio

# https://github.com/agelber/jekyll-rss
baseurl: /dev-blog


# see https://github.com/noct/jekyll-sass
sass:
  style: :compressed

exclude: ['id_rsa', 'id_rsa.enc', '.travis.yml', '.gitignore', '.gitattributes']

# see https://github.com/stereobooster/jekyll-press
# jekyll-press:
#   exclude: ['/rss.xml', '/rss-jcg.xml']

# see https://github.com/pattex/jekyll-tagging
# tag_page_layout: tag-index
# tag_page_dir: tag

# see https://github.com/kinnetica/jekyll-plugins

