@import url(http://fonts.googleapis.com/css?family=PT+Sans);
html {
  background: #008659; }

body {
  width: 100%;
  padding: 50px 0;
  margin: 0;
  font: 14px/1.5 "PT Sans", Lato, "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #555;
  font-weight: 300;
  /*background: url('https://devcenter.heroku.com/assets/public/body_bg.png') fixed;*/
  display: inline-flex;
  flex-direction: column;
  justify-content: center; }

header, section, footer {
  display: block; }

a {
  color: #069;
  text-decoration: none; }

p {
  margin: 0 0 20px;
  padding: 0; }

strong {
  color: #222;
  font-weight: 700; }

header {
  -webkit-border-radius: 8px 8px 0 0;
  -moz-border-radius: 8px 8px 0 0;
  -ms-border-radius: 8px 8px 0 0;
  -o-border-radius: 8px 8px 0 0;
  background: #DC143C;
  /*background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #ddfbfc), color-stop(100%, #c6eafa));
  background: -webkit-linear-gradient(#ddfbfc, #c6eafa);
  background: -moz-linear-gradient(#ddfbfc, #c6eafa);
  background: -o-linear-gradient(#ddfbfc, #c6eafa);
  background: -ms-linear-gradient(#ddfbfc, #c6eafa);
  background: linear-gradient(#ddfbfc, #c6eafa);*/
  position: relative;
  padding: 15px 20px;
  border-bottom: 1px solid #B2D2E1;
  border-radius: 0px 0px 0 0; }

header h1 {
  margin: 0;
  padding: 0;
  font-size: 24px;
  line-height: 1.2;
  color: #fff;
  /*text-shadow: rgba(255, 255, 255, 0.9) 0 1px 0;*/ }

header.without-description h1 {
  margin: 10px 0; }

header p {
  margin: 0;
  color: #fff;
  width: 300px;
  font-size: 13px; }

header p.view {
  display: none;
  font-weight: 700;
  text-shadow: rgba(255, 255, 255, 0.9) 0 1px 0;
  -webkit-font-smoothing: antialiased; }

header p.view a {
  color: #06c; }

header p.view small {
  font-weight: 400; }

header ul {
  margin: 0;
  padding: 0;
  list-style: none;
  position: absolute;
  z-index: 1;
  right: 20px;
  top: 20px;
  height: 38px;
  padding: 1px 0;
  background: #5198DF;
  background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #77b9fb), color-stop(100%, #3782cd));
  background: -webkit-linear-gradient(#77b9fb, #3782cd);
  background: -moz-linear-gradient(#77b9fb, #3782cd);
  background: -o-linear-gradient(#77b9fb, #3782cd);
  background: -ms-linear-gradient(#77b9fb, #3782cd);
  background: linear-gradient(#77b9fb, #3782cd);
  border-radius: 5px;
  -webkit-box-shadow: inset rgba(255, 255, 255, 0.45) 0 1px 0, inset rgba(0, 0, 0, 0.2) 0 -1px 0;
  -moz-box-shadow: inset rgba(255, 255, 255, 0.45) 0 1px 0, inset rgba(0, 0, 0, 0.2) 0 -1px 0;
  box-shadow: inset rgba(255, 255, 255, 0.45) 0 1px 0, inset rgba(0, 0, 0, 0.2) 0 -1px 0;
  width: auto; }

header ul:before {
  content: '';
  position: absolute;
  z-index: -1;
  left: -5px;
  top: -4px;
  right: -5px;
  bottom: -6px;
  background: rgba(0, 0, 0, 0.1);
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  -ms-border-radius: 8px;
  -o-border-radius: 8px;
  border-radius: 8px;
  -webkit-box-shadow: rgba(0, 0, 0, 0.2) 0 -1px 0, inset rgba(255, 255, 255, 0.7) 0 -1px 0;
  -moz-box-shadow: rgba(0, 0, 0, 0.2) 0 -1px 0, inset rgba(255, 255, 255, 0.7) 0 -1px 0;
  box-shadow: rgba(0, 0, 0, 0.2) 0 -1px 0, inset rgba(255, 255, 255, 0.7) 0 -1px 0; }

header ul li {
  width: 79px;
  float: left;
  border-right: 1px solid #3A7CBE;
  height: 38px; }

header ul li.single {
  border: none; }

header ul li + li {
  width: 78px;
  border-left: 1px solid #8BBEF3; }

header ul li + li + li {
  border-right: none;
  width: 79px; }

header ul a {
  line-height: 1;
  font-size: 11px;
  color: #fff;
  color: rgba(255, 255, 255, 0.8);
  display: block;
  text-align: center;
  font-weight: 400;
  padding-top: 6px;
  height: 40px;
  text-shadow: rgba(0, 0, 0, 0.4) 0 -1px 0; }

header ul a strong {
  font-size: 14px;
  display: block;
  color: #fff;
  -webkit-font-smoothing: antialiased; }

section {
  padding: 15px 20px;
  font-size: 15px;
  border-top: 1px solid #fff;
  background: #fff;
  -webkit-border-radius: 0 0 8px 8px;
  -moz-border-radius: 0 0 8px 8px;
  -ms-border-radius: 0 0 8px 8px;
  -o-border-radius: 0 0 8px 8px;
  border-radius: 0 0 8px 8px;
  position: relative; }

h1, h2, h3, h4, h5, h6 {
  color: #147784;
  padding: 0;
  margin: 0 0 20px;
  line-height: 1.2; }

p, ul, ol, table, pre, dl {
  margin: 0 0 20px; }

h1, h2, h3 {
  line-height: 1.1; }

h1 {
  font-size: 28px; }

h2 {
  color: #393939; }

h3, h4, h5, h6 {
  color: #494949; }

blockquote {
  margin: 0 -20px 20px;
  padding: 15px 20px 1px 40px;
  font-style: italic;
  background: #ccc;
  background: rgba(0, 0, 0, 0.06);
  color: #222; }

img {
  max-width: 100%; }

code, pre {
  font-family: Monaco, Bitstream Vera Sans Mono, Lucida Console, Terminal;
  color: #333;
  font-size: 12px;
  overflow-x: auto; }

pre {
  padding: 20px;
  background: #3A3C42;
  color: #f8f8f2;
  margin: 0 -20px 20px; }

pre code {
  color: #f8f8f2; }

li pre {
  margin-left: -60px;
  padding-left: 60px; }

table {
  width: 100%;
  border-collapse: collapse; }

th, td {
  text-align: left;
  padding: 5px 10px;
  border-bottom: 1px solid #aaa; }

dt {
  color: #222;
  font-weight: 700; }

th {
  color: #222; }

small {
  font-size: 11px; }

hr {
  border: 0;
  background: #aaa;
  height: 1px;
  margin: 0 0 20px; }

footer {
  margin: 0 auto;
  padding: 20px 0 0;
  color: #ccc;
  overflow: hidden; }

footer a {
  color: #fff;
  font-weight: bold; }

footer p {
  float: right;
  color: #fff; }

footer p + p {
  float: right; }

@media print, screen and (max-width: 740px) {
  body {
    padding-top: 30px; }

  .wrapper {
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    -ms-border-radius: 0;
    -o-border-radius: 0;
    border-radius: 0;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    width: 100%; }

  footer {
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    -ms-border-radius: 0;
    -o-border-radius: 0;
    border-radius: 0;
    padding: 20px;
    width: auto; }

  footer p {
    float: none;
    margin: 0; }

  footer p + p {
    float: none; } }
@media print, screen and (max-width: 580px) {
  header ul {
    display: none; }

  header p.view {
    display: block; }

  header p {
    width: 100%; } }
@media print {
  header p.view a small:before {
    content: 'at http://github.com/'; } }
/* Custom Styles */
@media (min-width: 760px) {
  .site {
    display: flex;
    -moz-display: flex;
    flex-direction: column;
    -moz-flex-direction: column;
    align-items: center;
    -moz-align-items: center; }
  .site .content-wrapper {
    margin-left: 1.6%;
    margin-right: 1%;
    display: inline-flex;
    max-width: 880px; }
  .site .content-wrapper .sidebar {
    flex: 1;
    display: flex;
    flex-direction: column;
    background: transparent;
    margin-right: 0.9rem;
    max-width: 230px;
    min-width: 219px;
    padding-left: 0.6%; }
  .site .content-wrapper .sidebar .navigation {
    display: flex;
    flex-direction: column;
    background: #FFFFFF;
    box-shadow: 0px 0px 3px 1px #515C56;
    margin-bottom: 20px; }
  .site .content-wrapper .sidebar .navigation:hover {
    box-shadow: 1px 1px 10px 1px #444; }
  .site .content-wrapper .sidebar .navigation > h3 {
    text-align: center;
    background: crimson;
    color: white;
    align-self: stretch;
    padding: 2%;
    margin-top: 10%; }
  .site .content-wrapper .sidebar .navigation > .nav {
    align-self: stretch;
    list-style-type: none;
    display: inline-flex;
    flex-flow: column;
    -webkit-padding-start: 0em;
    -moz-padding-start: 0em;
    margin-right: 2em;
    margin-left: 2em; }
  .site .content-wrapper .sidebar .navigation > .nav li > a {
    padding: 4px 4px 4px 12px;
    font-weight: 400;
    color: #555;
    display: block; }
  .site .content-wrapper .sidebar .navigation > .nav li > a:hover {
    background: crimson;
    color: #fff; }
  .site .content-wrapper .sidebar .navigation > form {
    align-self: center;
    display: inline-flex;
    flex-flow: column;
    width: 80%; }
  .site .content-wrapper .sidebar .navigation > form > .field > input[type="text"] {
    background: #EBEDEF;
    border-width: 0;
    font-size: 1em;
    font-style: italic;
    width: 100%;
    height: 1.8em; }
  .site .content-wrapper .sidebar .navigation > form > .field > input[type="text"]:focus {
    outline: 0;
    font-style: normal; }
  .site .content-wrapper .sidebar .navigation > form > .button {
    margin-top: 1em;
    margin-bottom: 1em;
    text-align: end; }
  .site .content-wrapper .sidebar .navigation > form > .button > button[type="submit"] {
    border-width: 0;
    width: 6em;
    height: 1.5em;
    box-shadow: 1px 1px 3px 1px #C8C8C8;
    background: crimson;
    color: #fff;
    font-size: 1em; }
  .site .content-wrapper .sidebar .social {
    background: #FFFFFF;
    box-shadow: 0px 0px 3px 1px #515C56; }
  .site .content-wrapper .sidebar .social h3 {
    color: #147784;
    text-align: center;
    margin: 15px 0; }
  .site .content-wrapper .sidebar .social .social-icons {
    list-style: none; }
  .site .content-wrapper .sidebar .social .social-icons li {
    display: inline-block;
    padding: 8px;
    border: 1.5px solid transparent; }
  .site .content-wrapper .sidebar .social .social-icons li > a {
    display: block;
    color: #5A5A5A; }
  .site .content-wrapper .sidebar .social .social-icons li:hover {
    border-color: #ddd; }
  .site .content-wrapper .sidebar .social .social-icons li:hover .fa-facebook-square {
    color: #3b5998; }
  .site .content-wrapper .sidebar .social .social-icons li:hover .fa-google-plus-square {
    color: #dd4b39; }
  .site .content-wrapper .sidebar .social .social-icons li:hover .fa-twitter-square {
    color: #00aced; }
  .site .content-wrapper .wrapper {
    flex: 3;
    min-width: 500px;
    background: #fff;
    box-shadow: 0px 1px 3px 0px #A97D7D; }
  .site .content-wrapper .wrapper .properties > * {
    font-size: 14px;
    display: inline-block; }
  .site .content-wrapper .wrapper .properties > * .tags {
    float: right; } }
.to-top {
  position: fixed;
  bottom: 20px;
  right: 20px;
  display: none; }
.to-top i.fa {
  font-size: 35px;
  color: white; }

.tags {
  text-align: -webkit-right;
  display: inline;
  float: right; }
.tags ul {
  display: inline;
  -webkit-padding-start: 0px; }
.tags ul > li {
  list-style: none;
  display: inline; }
