<!doctype html>
<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="chrome=1">
    <meta name="author" content="{{ site.author }}" />
    <meta name="description" content="{{ site.description }}">
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
    <title>{% if page.title %}{{ page.title }} – {% endif %}{{ site.name }} – {{ site.description }}</title>
    <link rel="stylesheet" href="{{site.baseurl}}/assets/stylesheets/styles.css">
    <link rel="stylesheet" href="{{site.baseurl}}/assets/stylesheets/pygment_trac.css">
    <link rel="stylesheet" href="{{site.baseurl}}/assets/font-awesome/css/font-awesome.min.css">
    <script src="{{site.baseurl}}/assets/javascripts/scale.fix.js"></script>
    <!--[if lt IE 9]>
    <script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
</head>

<body class="site">
    <div class="content-wrapper">
        <div class="sidebar">
            <div class="navigation">{% include navigation.html %}
            </div>
            <div class="social">{% include social.html %}
            </div>
        </div>
        <div class="wrapper">
            <header>
                <h1>All about Web Development</h1>
                <p>Developer Blog</p>
                <p class="view"><a href="https://github.com/bhanuone">View the Project on GitHub <small>bhanuone</small></a>
                </p>
                <ul>
                    <li class="single"><a href="https://github.com/bhanuone">View On <strong>GitHub</strong></a>
                    </li>
                </ul>
            </header>
            <section class="main-content">
                {{content}}
            </section>
        </div>
    </div>
    <div class="to-top">
        <a href="#">{% icon fa-chevron-circle-up fa-2x %}</a>
    </div>
    <footer>
        <p>Hosted on GitHub Pages &mdash; Theme by <a href="https://github.com/bhanuone">bhanu prakash</a>
        </p>
    </footer>
    <!--[if !IE]><script>fixScale(document);</script><![endif]-->
    {% include analytics.html %}
    <script src="{{site.baseurl}}/assets/javascripts/jquery-2.js"></script>
    <script>
        jQuery(document).ready(function() {
            var offset = 220;
            var duration = 500;
            jQuery(window).scroll(function() {
                if (jQuery(this).scrollTop() > offset) {
                    jQuery('.to-top').fadeIn(duration);
                } else {
                    jQuery('.to-top').fadeOut(duration);
                }
            });
            
            jQuery('.to-top').click(function(event) {
                event.preventDefault();
                jQuery('html, body').animate({scrollTop: 0}, duration);
                return false;
            })
        });
    </script>
</body>

</html>
